<div class="country-container">
    <img class="country-img" src="{{[0].flags.svg}}" alt="{{[0].name.official}}">
    <p class="country-text">{{[0].name.official}}</p>
</div>
<p class="capital"><b>Capital:</b> {{[0].capital}}</p>
<p class="population"><b>Population:</b> {{[0].population}}</p>
<p class="languages"><b>languages:</b> {{[0].languages}}</p>